:root {
    /* Text colors */
    --titleColor: black;

    /* Element colors */
    --bg_ColorDark: #0a2a2a;
    --bg_Color: #249999;

    /* Margins */
    --marginToPageEdge: 2em
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg_ColorDark);
}

.page-header {
    text-align: left;
    color: var(--titleColor);
    background-color: var(--bg_Color);
    padding: 1.5em;
    margin: var(--marginToPageEdge) var(--marginToPageEdge) 0 var(--marginToPageEdge);

    display: flex;
}

.nav ul {
    flex-wrap: wrap;
    flex-direction: horizontal;
    justify-content: right;
}