:root {
    /* Text colors */
    --titleColor: black;

    /* Element colors */
    --bg_ColorDark: #0a2a2a;
    --bg_Color: #249999;
    --header_Color: #a17c36; 

    /* Margins */
    
}

/* ________________Page standards________________ */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg_ColorDark);
    margin: 2em;
    size: 12px;
}

.standard-box {
    text-align: left;
    color: var(--titleColor);
    background-color: var(--bg_Color);
    padding: 1.5em;
    margin: 2em 0;

    border-top: 2rem double var(--bg_ColorDark);
    border-right: 2rem double var(--bg_ColorDark);
    border-top-right-radius: 100px;

    overflow: auto;
}

/* ________________Standard text________________ */

p,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* ________________Standard HTML headers________________ */

h1 {
    font-size: 300%;
    display: inline;
    border-top-right-radius: 20px;
    flex-wrap: wrap;
}

h2 {
    font-size: 200%;
    display: inline;

    border-top-right-radius: 15px;
}

h3 {
    position: absolute;
    left: .25em;
    z-index: 1;
    border-top-right-radius: 15px;
}

h1,
h2,
h3 {
    background-color: var(--header_Color);
    padding: 0 1em;
    border: 0.25rem solid; 
}

/* ________________The big header________________ */

.page-header {
    display: flex;
    justify-content: space-between;
}

.page-header nav {
    display: inline-flex;
}

.page-header nav ul li {
    display: inline-block;
    margin-right: 1em;
}

/* ________________About me________________ */

.aboutMe div {
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap; 
}
.aboutMe div p {
    display: inline-block;
}

/* ________________Images________________ */

.mediumImg {
    width: 16em;
    height: 16em;
}

.largeImg {
    width: 32em;
    height: 16em;
}

.mediumImg, .largeImg {
    /* 
    There's an extra ~.2em on the bottom margin from the sibling elements; I'm not experienced enough to fix it proper.
    A slight padding adjustment should fix it. 
    */
    padding: .5em .5em .3em;
    flex: 0 0 1; 

    border-top-right-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
}

/* ________________Repocards/gallery________________ */

.repoFlexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 2em;

    margin: 2em 0 0 0;
}

.repoCard {
    position: relative;
    background-color: var(--bg_ColorDark);
    width: min-content;
    height: min-content;
    align-self: center;

    border-top-right-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
}

.repoCard h3,
.repoCard p {
    position: absolute;
}

.language {
    position: absolute;
    top: 2.5em;
    left: .75em;
    font-weight: bolder;
}