:root {
    /* Text colors */
    --titleColor: black;

    /* Element colors */
    --bg_ColorDark: #0a2a2a;
    /* --bg_Color: #249999; */
    --bg_Color: #20d7e4; 

    /* Margins */
    --marginToPageEdge: 2em
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg_ColorDark);
    margin: var(--marginToPageEdge);
}

.standard-box {
    text-align: left;
    color: var(--titleColor);
    background-color: var(--bg_Color);
    padding: 1.5em;
    margin: 2em 0;

    border-top: 2rem double var(--bg_ColorDark);
    border-right: 2rem double var(--bg_ColorDark);
    border-top-right-radius: 100px;

    overflow: auto;
}

h1 {
    font-size: 300%;
    padding: 0 2em;
    display: inline;

    border-top-right-radius: 20px;
    border-top: 0.25rem solid;
    border-right: 0.25rem solid;   
    border-bottom: 0.25rem solid; 
}

h2 {
    font-size: 200%;
    padding: 0 2em;
    display: inline;

    border-top-right-radius: 15px;
    border-top: 0.25rem solid; 
    border-right: 0.25rem solid;
    border-bottom: 0.25rem solid;
    
}

.page-header {
    display: flex;
    /* margin: var(--marginToPageEdge) var(--marginToPageEdge) 0 var(--marginToPageEdge); */

    /* width: 100%; */
}

.page-header div {
    flex:1
}

.page-header nav {
    display: inline-flex;
    flex: 1;
}

.page-header nav ul li {
    display: inline-block;
    margin-right: 1em;
}

.mediumImg {
    width: 250px;
    height: 250px;
    float: left;
    padding: 0 .5em 0;
}

.largeImg {
    width: 600px;
    height: 600px;
    /* object-fit: cover; */
}

.repoFlexContainer {
    display: flex;
}

.repoCard {
    flex: 1;
    
    border: 1em dashed black;

    overflow: auto;
}

/* Oversize flexbox cards for projects we want to highlight */
.highlightedCard {
    flex: 2;
}